@model BlogDetailsVM
@{
	ViewData["Title"] = "BlogDetails";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="banner-bottom">
	<!--/blog-->
	<div class="container">
		<div class="row">
			<!--left-->
			<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
				<div class="blog-grid-top">
					<div class="b-grid-top">
						<div class="blog_info_left_grid">
							<a href="single.html">
								<img src="~/web/images/b1.jpg" class="img-fluid" alt="">
							</a>
						</div>
						<div class="blog-info-middle">
							<ul>
								<li>
									<a href="#">
										<i class="far fa-calendar-alt"></i> @(((DateTime)Model.creationDate).ToString("dd-MM-yyyy"))
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<i class="fas fa-eye"></i> @Model.viewcount
									</a>
								</li>
								<li class="mx-2">
									<a href="~/User/Index/@Model.userId">
										<i class="bi bi-person-vcard-fill"></i> @Model.userFirstName @Model.userLastName
									</a>
								</li>
							</ul>
						</div>
						
					</div>
					<h3>
						<a href="single.html">@Model.title</a>
					</h3>
					<p>
						@Model.content
					</p>

					
				</div>

			</div>
		</div>
	</div>
</section>


