@model ArticleCreateVM
@*
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Create</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="UserId" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" name="ids" type="checkbox" value="@item.Id" itemid="@item.Id" />
                            @Html.DisplayFor(modelItem =>item.Name)
                        </div>
                    </td>
                </tr>
            }
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-ATeJm0ZmT8aXAmJkb0jmLQLPyEWpJyHbw+eR0gS/4FZ4N2x/YJ9Lpr+qI4QQIYslUpWTcRzCvkHJiLXLz4qscg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bootstrap Makale Formu</title>
</head>
<body>
    <div class="container">
        <h1 class="my-5">Makale Oluşturma Formu</h1>
        <form asp-action="Create">
            <input asp-for="UserId" hidden />
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Başlık</label>
                <input type="text" input asp-for="Title" class="form-control" id="Title" placeholder="Başlık girin" rows="5" maxlength="120" required onkeyup="countCharacters(this, 'title-characters')" />
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label">İçerik</label>
                <textarea class="form-control" input asp-for="Content" id="Content" placeholder="Makale içeriğini buraya yazın" rows="5" minlength="50" required onkeyup="countCharacters(this, 'content-characters')"></textarea>
            </div>
            <div class="mb-3">
                <label for="kategori" class="form-label">Kategori</label>
                <div class="form-check">
                    @foreach (var item in Model.Categories)
                    {
                        <input class="form-check-input" name="ids" type="checkbox" value="@item.Id" itemid="@item.Id" />
                        @Html.DisplayFor(modelItem =>item.Name)
                        <br/>

                    }
                    
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</html>